# -*- coding: utf-8 -*-
# vim: ft=yaml
---
vscode:
  pkg:
    version: 1.43.2
    use_upstream:  archive   # or 'package' (snap/brew)
    uri_a: https://example.com/mirrors/vscode/code-stable-1586345639.tar.gz
    archive:
      skip_verify: true
